// common
@nav-bar-height: 60px;

// font-size
@font-size-small: 14px;

// color
@bg-color: #f3f3f3;
@bg-color-white: #ffffff;
@brand-color: #0052d9;
@font-color-primary: #1f1f1f;
@font-color-secondary: #999999;
